{% extends "base.html" %}

{% block tile %}
    Jadłospis
{% endblock tile %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Jadłospis</h1>
                <a href="/menu/add_meal" class="btn btn-primary">Dodaj nowy posiłek</a>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Nazwa</th>
                            <th>Opis</th>
                            <th>Cena</th>
                            {% if user.is_authenticated and user.is_superuser %}
                                <th>Edytuj</th>
                                <th>Usuń</th>
                            {% endif %}
                            
                        </tr>
                    </thead>
                    <tbody>
                        {% for meal in meals %}
                            <tr>
                                <td>{{ meal.meal_name }}</td>
                                <td>{{ meal.meal_description }}</td>
                                <td>{{ meal.meal_price }}</td>
                                {% if user.is_authenticated and user.is_superuser %}
                                    <td><a href="/menu/edit_meal/{{meal.pk }}/" class="btn btn-warning">Edit</a></td>
                                    <td><a href="/menu/delete_meal/{{meal.pk }}/" class="btn btn-danger">Delete</a></td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock content %}