{% extends 'base.html' %}
{% load static %}


{% block content %}


<h1>Strona główna</h1>

<div class="input-wrapper">
    <input type="number" name="number" id="number" min="1" value="1" class="input">
    <button onclick="buy()">Kup</button>
</div>
<h1 style="font-size: 40px !important; padding-top: 20px;">Kup bloczek za 9.00 PLN za 1 dzień</h1>
<img class="plate_img" src="{% static 'img/plate.png'%}" alt="plate">


<table class="table-shop">
    <tr>
        <th>Zakupiono:</th>
        <th>{{date_of_purchase|date:"d M, Y" }}</th>
    </tr>
    <tr>
        <th>Pozostało:</th>
        <th>{{days_left}} dni</th>
    </tr>


</table>


<a href="/pass_dinner/">Podaruj bloczek</a>


<script>
    function buy(){
        var days = document.getElementById('number').value
        window.open('/buy/?days=' + days, '_self')
    }
</script>


{% endblock %}