{% extends 'base.html' %}

{% block content %}
    <script>
        const queryString = window.location.search;
        const urlParams = new URLSearchParams(queryString);
        var days = (parseInt(urlParams.get('days')) * 900).toString()
        console.log(days)
        // document.getElementById('script').setAttribute('data-amount', days)
    </script>
    
    <h1 id="price"></h1>
    {{paypal.render}}

    <form action="{% url 'charge' %}" method="post">
        {% csrf_token %}
        
        <script src="https://checkout.stripe.com/checkout.js" class="stripe-button" id="script" async
            data-key='{{key}}'
            data-description='Payment Gateway'
            data-amount=''
            data-locale='auto'
            data-currency='PLN'>

        </script>
        <script>
            // nie usuwac; potrzebne
            // document.getElementsByClassName("stripe-button-el")[0].style.display = 'none';
            document.getElementById('price').innerHTML = '<h1>Cena za bloczek: '+ parseInt(days)/100 + 'PLN</h1>'
        </script>
        <!-- <button type="submit">Buy Lunch Block</button> -->
    </form>
    
    
{% endblock %}