{% extends "base.html" %}

{% load widget_tweaks %}

{% block title %}
    Login
{% endblock %}

{% load crispy_forms_tags %}

{% block content %}
    <form method="post" class="form-group">
        {% csrf_token %}
        {% render_field form.username  placeholder="" class=""  id="" %}
        {% render_field form.password  placeholder="" class=""  id="" %}
        <p>
            Nie posiadasz konta? Załóż je <a href="/register/">tutaj</a>
        </p>
        <button type="submit" class="btn btn-primary">Zaloguj</button>
    </form>
{% endblock %}