body {
    margin: 0;
    padding: 0p;
    background-color: #F3E3C4 !important;
}
h1 {
    color: #493228 !important;
    font-family: "Rowdies";
    font-size: 80px !important;
    text-align: center;
}
.content{
    padding: 20px;
}
nav, #collapsibleNavId, .navbar, .navbar a, .nav-item, .nav-link, .navbar-brand{
    background-color: #065535 !important;
    color: #fff !important;
    border: 0;
    padding-left: 15px;
    font-family: "Rowdies";

}
nav{
    border-bottom: 1px solid #fff;
    padding: 0 !important;
}
.nav-link{
    font-size: 18px !important;
    font-weight: 300 !important;
    padding: 16px 10px !important;
}
.nav-link:hover{
    background-color: #098553 !important;
}
.nav-link:hover{
    color: #fff !important;
}
.dropdown-menu, .dropdown-item{
    background-color: #065535 !important;
    color: #fff !important;
    font-family: "Rowdies", sans-serif;
    font-weight: 300;
}

.navbar-brand{
    padding-left: 10px !important;
}

.dropdown-item:hover{
    background-color: #098553 !important;
    color: #fff !important;
}
button, .add-meal-buttons {
    font-family: monospace;
    font-size: 18px !important;
    color: #493228;
    text-transform: uppercase;
    padding: 14px 24px;
    border-radius: 10px !important;
    border: 2px solid #493228;
    background: #fff;
    box-shadow: 3px 3px #493228;
    cursor: pointer;
}

button:hover {
    border-color:  #065535 !important;
    box-shadow: 3px 3px #065535;
    color: #065535;
}
button:active {
    box-shadow: none;
    transform: translate(3px, 3px);
}
.input-label{
    margin-left: 15px;
    color: #fff;
    font-weight: 600;
    font-size: 18px;
    
}

.input-wrapper input {
    background-color: #eee;
    border: none;
    padding: 1rem;
    font-size: 1rem;
    width: 13em;
    border-radius: 1rem;
    color: #000;
    box-shadow: 0 0.4rem #dfd9d9;
    cursor: pointer;
    margin-left: 42%;

}
  
.input-wrapper input:focus {
    outline-color: #065535;
}
.plate_img {
    position: absolute;
    right: 34%;
}
table, tr, thead, th {
    background-color: #D0B98E !important;
    font-family: "Rowdies";
}
tbody {
    background-color: #D0B98E !important;
    font-family: "Rowdies";
}
.table th {
    color:#493228 !important;
}
.btn {
    background-color: #065535 !important;
    border:#065535 !important
}
.btn:hover {
    background-color: #098553 !important;
}
.container p {
    background-color: #065535;
    color: #fff;
    border-radius: 8px;
    font-family: "Rowdies";
    font-size: 50px;
    padding-left: 30px;
}
.qr_code {
    margin: auto;
    margin-top: 200px;
}
.kup_bloczek {
    margin-left: 0;
    font-size: 40px;
}
.add_meal {
    margin-bottom: 5px;
}
.add-meal-buttons {
    margin-top: 7px;
    color: #fff !important;
    display: inline-block !important; 
}
.login_label, .login_password {
    background-color: #eee;
    border: none;
    padding: 1rem;
    margin-bottom: 5px;
    font-size: 1rem;
    width: 13em;
    border-radius: 1rem;
    color: #000;
    box-shadow: 0 0.4rem #dfd9d9;
    cursor: pointer;
    margin-left: 44%;
}
.register_firstname, .register_lastname, .register_email, .register_username, .register_password1, .register_password2 {
    background-color: #eee;
    border: none;
    padding: 1rem;
    margin-bottom: 5px;
    font-size: 1rem;
    width: 16em;
    border-radius: 1rem;
    color: #000;
    box-shadow: 0 0.4rem #dfd9d9;
    cursor: pointer;
    margin-left: 42.5%;
    margin-bottom: 5px;
}
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    margin: -5px;
}

.table-shop th, .table-shop tr {
    border: 1px solid black !important;
    border-collapse: collapse !important;
    padding: 5px;
}
.table-shop {
    width: auto !important;
    position: relative;
    padding: 0 !important;
    margin-top: 530px;
    margin-left: -20px !important;
}
@media only screen and (max-width: 600px)
{
    h1{
        font-size: 24px !important;
    }
    #my-qr-reader{
        width: 98% !important;
        margin-left: auto;
        margin-right: auto;
    }

}